div {
    margin: 0px auto;
    width: 70%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

.thisPlayer{
    font-weight: bold;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even){background-color: #f2f2f2}

.login-page {
    color: #333333;
    font-family: Impact, Charcoal, sans-serif;
    position: relative;
    height: 100%;
    line-height: 25px;
}

.login-page span {
    vertical-align: middle;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.title { 
    margin: 0px auto;
    width: 100%;
    color: #ff4411; 
    font-size: 23px; 
    font-family: 'Signika', sans-serif; 
    padding-bottom: 10px; 
    text-align: center;
}
